@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Profile Settings</h2>

<div>
    @Html.ActionLink("Add Steam", "Account")
    @Html.ActionLink("Inventory", "Account")
    @Html.ActionLink("My Trades", "Account")
    @Html.ActionLink("My Offers", "Account")
    @Html.ActionLink("My Bets", "Account")
    @Html.ActionLink("News", "Account")
    @Html.ActionLink("Coin Changer", "Account")
    @Html.ActionLink("Logout", "Signout")

</div>